*.db
*.tsv
*.pkl

rbd/parquets/embeddings/spikeprot0528.clean.uniq.noX.RBD.metadata.variants.O_CLS-embedded.parquet
rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.variants.ADO_CLS-embedded.parquet
rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.variants.ADO.csv